<!-- <footer class="main-footer">
    <div class="footer-cols">
      <div>
        <h4>Sản phẩm dịch vụ</h4>
        <ul>
          <li>Internet - Truyền hình</li>
          <li>Thiết bị thông minh</li>
          <li>Ứng dụng số</li>
        </ul>
      </div>
      <div>
        <h4>Chính sách</h4>
        <ul>
          <li>Thanh toán</li>
          <li>Bảo mật</li>
          <li>Đổi trả</li>
        </ul>
      </div>
    </div>
    <p style="text-align:center; margin-top:20px;">
      © 2025 MyService. All rights reserved.
    </p>
  </footer> -->
<hr>
<footer class="bg-white text-dark py-4 mt-5 main-footer ">
  <div class="container">
    <div class="row">
      <!-- Cột 1: Thông tin công ty -->
      <div class="col-12 col-md-4 mb-4">
        <h5>Viettel</h5>
        <p>Chúng tôi cung cấp dịch vụ viễn thông, internet và truyền hình với chất lượng cao, đáp ứng nhu cầu của khách
          hàng trên toàn quốc.</p>
        <p>&copy; 2025 Viettel - All rights reserved.</p>

        <img src="" alt="Logo" class="img-fluid mb-3">
        <img src="\src\assets\image\bbb.png" alt="Logo" class="img-fluid mb-3">

      </div>

      <!-- Cột 2: Liên kết nhanh -->
      <div class="col-12 col-md-4 mb-4">
        <h5>Liên kết nhanh</h5>
        <ul class="list-unstyled">
          <li><a href="/about" class="text-white">Giới thiệu</a></li>
          <li><a href="/contact" class="text-white">Liên hệ</a></li>
          <li><a href="/terms" class="text-white">Điều khoản sử dụng</a></li>
          <li><a href="/privacy" class="text-white">Chính sách bảo mật</a></li>
        </ul>
        <img src="\src\assets\image\dadangki.png " alt="Logo" class="img-fluid mb-3">
      </div>

      <!-- Cột 3: Mạng xã hội -->
      <div class="col-12 col-md-4 mb-4">
        <h5>Mạng xã hội</h5>
        <ul class="list-unstyled d-flex">
          <li class="me-3"><a href="https://www.facebook.com/vietteltelecom/" class="text-white"><img
                src="\src\assets\image\fb.png " alt="Logo" class="img-fluid mb-3"></a></li>
          <li class="me-3"><a href="https://www.youtube.com/user/Viettelchannels" class="text-white"><img
                src="\src\assets\image\yt.png " alt="Logo" class="img-fluid mb-3"></a></li>
          <li class="me-3"><a href="https://zalo.me/1814378069399742003" class="text-white"><img
                src="\src\assets\image\zl.png " alt="Logo" class="img-fluid mb-3"></a></li>

        </ul>
        <h5> Code by</h5>
        <ul class="list-unstyled d-flex">
          <li class="me-3"><img src=" " alt="Logo" class="img-fluid mb-3"
              style="max-width: 100px; max-height: 100px; border-radius=50px">
            <p>Đặng Thị Thúy Hằng-N21DCCN118</p>
          </li>
          <li class="me-3">Lê Anh Tình</li>
          <li class="me-3">Trần Bình Phương Nhã</li>
        </ul>
        <ul>
      </div>
    </div>
  </div>
</footer>